.Name_Box {
  margin: auto;
  color: #364e96;
  padding: 0.5em 0 0.5em 0.5em; /*上下の余白*/
  border-top: solid 3px #364e96; /*上線*/
  border-bottom: solid 3px #364e96; /*下線*/
}

.Detail_Box {
  margin: auto;
}

dl {
  display: flex;
  padding: 0.5em 0 0.5em 0.5em; /*上下の余白*/
  border-top: solid 0.1px #364e96; /*上線*/
  border-bottom: solid 0.1px #364e96; /*下線*/
  border-right: solid 0.1px #364e96; /*上線*/
  border-left: solid 0.1px #364e96; /*下線*/
}

dt {
  margin-right: 0.5em;
}

.title {
  display: flex;
}

twoStyle {
  display: flex;
}
